body {
    background-color: #546E7A;
    color: white;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:visited {
    color: white;
}

h1 {
    text-align: center;
}

.hidden {
    display: none !important;
}

.card-content p {
    color: black;
    font-size: medium;

}

#installContainers {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
    margin-right: 2em;
}

.nav-wrapper {
    background-color: #F98B88;
}